*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.painel{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.navegacao{
    width: 100%;
    height: 50px;
    background-color: purple;
}
.geral{
    width: 100%;
    height: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.esquerda{
    width: 73%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.cabecalho{
    width: 100%;
    height: 55%;
    border-radius: 15px;
    background-color: goldenrod;
}
.sessoes{
    width: 48%;
    height: 100%;
    border-radius: 15px;
    background-color: blue;
}
.lateral{
    width: 20%;
    height: 100%;
    border-radius: 15px;
    background-color: yellowgreen;
}